<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Bayaan Realms</title>


</head>

<body>
    <%- include('../partials/inHeader') -%>

        <main class="student-page">
            <h1>Welcome to Bayaan Realms</h1>
            <section class="grid-top">
                <div class="card">Progress Tracker</div>
                <div class="card">Mission Points and Rank</div>
                <div class="card">Grades & Attendance</div>
                <div class="card">Upcoming Events</div>
            </section>
            <section class="grid-bottom">
                <div class="card">
                    <h3>Verse of the Day</h3>

                    <p class="ayah">
                        <%= verses.arabic %>
                    </p>

                    <p class="translation">
                        <%= verses.translation %>
                    </p>

                    <small class="meta">
                        <%= verses.surah %> — <%= verses.reference %>
                    </small>
                </div>
                <div class="card">
                    <h1>Reminder of the Day</h1>
                    <p class="ayah">
                        <%= reflections.arabic %>
                    </p>

                    <p class="translation">
                        <%= reflections.translation %>
                    </p>

                    <small class="meta">
                        <%= reflections.reference %> — <%= reflections.hadithNumber %>
                    </small>
                </div>
            </section>

            <aside class="updates">
                <h2>Community Updates</h2>
                <div class="panel"></div>
            </aside>
        </main>

        <%- include('../partials/inFooter') -%>

</body>

</html>
